.wrapper {
    margin: 0 auto 0 auto;
    max-width: 800px;
}
.logo {
    margin-top: -3px;
}
.action {
    margin-top: -3px;
    width: 48px;
    height: 48px;
}
.navigation {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 5px;
}
.main {
    min-height: 20px;
    margin-bottom: 10px;
    padding: 5px;
}
.static {
    padding-left: 20px;
    padding-right: 20px;
}
.bottom {
    height: 40px;
    text-align: center;
}
.footer {
    height: 40px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.welcome {
    height: 300px;
    text-align: center;
}
.welcome h1 {
    font-size: 34px;
}
.search {
    width: 100%;
    height: 40px;
    background-color: rgba(255, 255, 255, 1.0);
}
.search-fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 15px 0px 0px 15px;
    background-color: rgba(255, 255, 255, 0.9);
}
.search-button {
    margin-top: -3px;
}
.fixed {
    font-family: Menlo, Monaco, "Lucida Console", monospace;
}
/* ... */
.loading-bar {
    display: inline-block;
    width: 1px;
    height: 10px;
    animation: loading 2.1s ease-in-out infinite;
}
.loading-bar:nth-child(1) {
    background-color: rgba(144, 144, 144, 0.75);
    animation-delay: 0;
}
.loading-bar:nth-child(2) {
    background-color: rgba(114, 114, 114, 0.75);
    animation-delay: .5s;
}
.loading-bar:nth-child(3) {
    background-color: rgba(84, 84, 84, 0.75);
    animation-delay: .9s;
}
.loading-bar:nth-child(4) {
    background-color: rgba(54, 54, 54, 0.75);
    animation-delay: 1.35s;
}
.loading-bar:nth-child(5) {
    background-color: rgba(34, 34, 34, 0.75);
    animation-delay: 1.8s;
}
@keyframes loading {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1, 1.9);
    }
    60% {
        transform: scale(1);
    }
}